In [3]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [43]:
tickers=['INFY','ITC.NS']

sec_data= pd.DataFrame()

for t in tickers:
    sec_data[t]=yf.download(t,start='2000-1-1')['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [45]:
sec_returns=np.log(sec_data/sec_data.shift(1))

In [46]:
sec_returns

                INFY    ITC.NS
Date
2000-01-03       NaN       NaN
2000-01-04  0.007758  0.005420
2000-01-05 -0.008097  0.019256
2000-01-06 -0.111704  0.076966
2000-01-07  0.067375  0.076968
...              ...       ...
2024-12-23  0.002197  0.020450
2024-12-24 -0.000439  0.008817
2024-12-26 -0.005726 -0.003140
2024-12-27 -0.007092  0.003453
2024-12-30 -0.017048 -0.003349

[6288 rows x 2 columns]

In [81]:
sec_returns['INFY'].std()*250**0.5

0.43183827603634767

In [ ]:
sec_returns['ITC.NS'].std()*250**0.5

In [60]:
sec_returns[['INFY','ITC.NS']].std()*250**0.5

INFY      0.431838
ITC.NS    0.299525
dtype: float64

In [61]:
cov_matrix=sec_returns.cov()

In [62]:
cov_matrix

            INFY    ITC.NS
INFY    0.000746  0.000067
ITC.NS  0.000067  0.000359

In [63]:
cov_matrix_a=sec_returns.cov()*250
cov_matrix_a

            INFY    ITC.NS
INFY    0.186484  0.016757
ITC.NS  0.016757  0.089715

In [64]:
#Calculating Portfolio Risk

In [65]:
weights=np.array([0.5,0.5])

In [66]:
pfolio_var=np.dot(weights.T,np.dot(sec_returns.cov()*250,weights))

In [67]:
pfolio_var

0.07742857461857122

In [68]:
#Portfolio Volatility:

In [69]:
pfolio_vol=pfolio_var**0.5
pfolio_vol

0.2782599047986814

In [100]:
#Calculating Diversifiable and Non_Diversifiable Risk of Portfolio

In [ ]:
#Diversifiable Risk = Pfolio_var - weighted_annual_var

In [102]:
INFY_var_a=sec_returns['INFY'].var()*250

In [103]:
INFY_var_a

0.1864842966500448

In [104]:
ITC_var_a=sec_returns['ITC.NS'].var()*250

In [105]:
ITC_var_a

0.08971513144134857

In [111]:
dr = pfolio_var - (weights[0] ** 2 * INFY_var_a) - (weights[1] ** 2 * ITC_var_a)
dr

0.008378717595722882

In [117]:
print(str(round(dr*100,3))+'%')

0.838%

In [119]:
#Non-Diversifiable Risk

In [121]:
n_dr_1=pfolio_var-dr
n_dr_1

0.06904985702284834

In [127]:
n_dr_2=(weights[0] ** 2 * INFY_var_a) + (weights[1] ** 2 * ITC_var_a)
n_dr_2

0.06904985702284834

In [129]:
n_dr_1==n_dr_2

True